<% if(message?.length) { %>
<div class="alert alert-danger"><%= message %></div>
<% } %> <% if(success?.length) { %>
<div class="alert alert-success"><%= success %></div>
<% } %>
<div class="mb-3">
  <span>Liên kết đăng nhập với Google</span>
  <label class="switch">
    <a
      href="<%= socials.includes('google') ? '/admin/deleteSocialGoogle': '/auth/google/redirect'%>"
    >
      <input type="checkbox" <%= socials.includes('google') ? 'checked': ''%>>
      <span class="slider round"></span>
    </a>
  </label>
</div>
<div class="mb-3">
  <span>Liên kết đăng nhập với Github</span>
  <label class="switch">
    <a
      href="<%= socials.includes('github') ? '/admin/deleteSocialGithub': '/auth/github/redirect'%>"
    >
      <input type="checkbox" <%= socials.includes('github') ? 'checked': ''%>>
      <span class="slider round"></span>
    </a> </label
  ><br />
  <a href="/admin" class="btn btn-danger">Thoát</a>
</div>
