<h2>Edit Role</h2>
<form action="" method="post" class="mt-4">
  <div class="mb-3">
    <select name="" class="form-select" onchange="window.location.href='/admin/roles/edit/'+this.value">
      <% roles.forEach((item) => { %>
      <option value="<%= item.id %>" <%= +item.id === +role.id ? "select" : ""%>><%= item.name %></option>
      <% }) %>
    </select>
  </div>
  <div class="mb-3">
    <label for="">Tên</label>
    <input
      type="text"
      name="name"
      placeholder="Tên Role..."
      class="form-control"
      value="<%= role.name %>"
      required
    />
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th width="20%">Module</th>
        <th>Quyền</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Quản lý Users</td>
        <td>
          <div class="row">
            <div class="col">
              <label for="">
                <input type="checkbox" name="permission" value="users.read" <%= permissionUtil.get(permissionList, "users.read") ? "checked" : ""%>/>
                Xem
              </label>
            </div>
            <div class="col">
              <label for="">
                <input type="checkbox" name="permission" value="users.add" <%= permissionUtil.get(permissionList, "users.add") ? "checked" : ""%>/>
                Thêm
              </label>
            </div>
            <div class="col">
              <label for="">
                <input type="checkbox" name="permission" value="users.update" <%= permissionUtil.get(permissionList, "users.update") ? "checked" : ""%>/>
                Sửa
              </label>
            </div>
            <div class="col">
              <label for="">
                <input type="checkbox" name="permission" value="users.delete" <%= permissionUtil.get(permissionList, "users.delete") ? "checked" : ""%>/>
                Xóa
              </label>
            </div>
          </div>
        </td>      
      </tr>
      <tr>
        <td>Quản lý Courses</td>
        <td>
          <div class="row">
            <div class="col">
              <label for="">
                <input type="checkbox" name="permission" value="courses.read" <%= permissionUtil.get(permissionList, "courses.read") ? "checked" : ""%>/>
                Xem
              </label>
            </div>
            <div class="col">
              <label for="">
                <input type="checkbox" name="permission" value="courses.add" <%= permissionUtil.get(permissionList, "courses.add") ? "checked" : ""%>/>
                Thêm
              </label>
            </div>
            <div class="col">
              <label for="">
                <input type="checkbox" name="permission" value="courses.update" <%= permissionUtil.get(permissionList, "courses.update") ? "checked" : ""%>/>
                Sửa
              </label>
            </div>
            <div class="col">
              <label for="">
                <input type="checkbox" name="permission" value="courses.delete" <%= permissionUtil.get(permissionList, "courses.delete") ? "checked" : ""%>/>
                Xóa
              </label>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Quản lý Classes</td>
        <td>
          <div class="row">
            <div class="col">
              <label for="">
                <input type="checkbox" name="permission" value="classes.read" <%= permissionUtil.get(permissionList, "classes.read") ? "checked" : ""%>/>
                Xem
              </label>
            </div>
            <div class="col">
              <label for="">
                <input type="checkbox" name="permission" value="classes.add" <%= permissionUtil.get(permissionList, "classes.add") ? "checked" : ""%>/>
                Thêm
              </label>
            </div>
            <div class="col">
              <label for="">
                <input type="checkbox" name="permission" value="classes.update" <%= permissionUtil.get(permissionList, "classes.update") ? "checked" : ""%>/>
                Sửa
              </label>
            </div>
            <div class="col">
              <label for="">
                <input type="checkbox" name="permission" value="classes.delete" <%= permissionUtil.get(permissionList, "classes.delete") ? "checked" : ""%>/>
                Xóa
              </label>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Quản lý ClassesTeacher</td>
        <td>
          <div class="row">
            <div class="col">
              <label for="">
                <input type="checkbox" name="permission" value="classesTeacher.read" <%= permissionUtil.get(permissionList, "classesTeacher.read") ? "checked" : ""%>/>
                Xem
              </label>
            </div>
            <div class="col">
              <label for="">
                <input type="checkbox" name="permission" value="classesTeacher.add" <%= permissionUtil.get(permissionList, "classesTeacher.add") ? "checked" : ""%>/>
                Thêm
              </label>
            </div>
            <div class="col">
              <label for="">
                <input type="checkbox" name="permission" value="classesTeacher.update" <%= permissionUtil.get(permissionList, "classesTeacher.update") ? "checked" : ""%>/>
                Sửa
              </label>
            </div>
            <div class="col">
              <label for="">
                <input type="checkbox" name="permission" value="classesTeacher.delete" <%= permissionUtil.get(permissionList, "classesTeacher.delete") ? "checked" : ""%>/>
                Xóa
              </label>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Admin</td>
        <td>
          <div class="row">
            <div class="col">
              <label for="">
                <input type="checkbox" name="permission" value="admin.read" <%= permissionUtil.get(permissionList, "admin.read") ? "checked" : ""%>/>
                Admin
              </label>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="submit" class="btn btn-success">Lưu</button>
</form>
