<h2>Phân quyền</h2>
<% if(message?.length) { %>
<div class="alert alert-danger"><%= message %></div>
<% } %> <% if(success?.length) { %>
<div class="alert alert-success"><%= success %></div>
<% } %>
<a href="/admin/users/roles" class="btn btn-warning">Quản lý Roles</a>
<form action="" method="post" class="mt-4">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th width="10%">
          <input type="checkbox" />
        </th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <% roleList.forEach(({id, name}) => { %>
      <tr>
        <td>
          <input type="checkbox" name="roles" value="<%= id %>" <%=
          isRole(users.roles, id) ? 'checked': '' %> />
        </td>
        <td><%= name %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <button type="submit" class="btn btn-success">Lưu thay đổi</button>
  <a href="/admin/teacherList" class="btn btn-danger">Trở về</a>
</form>
