<h4>Quản lý Role</h4>
<% if(message?.length) { %>
<div class="alert alert-danger"><%= message %></div>
<% } %> <% if(success?.length) { %>
<div class="alert alert-success"><%= success %></div>
<% } %>
<a href="/admin/roles/add" class="btn btn-info">Thêm role</a>
<table class="table table-bordered mt-4">
  <thead>
    <tr>
      <th width="">Tên</th>
      <th width="5%">Sửa</th>
      <th width="5%">Xóa</th>
    </tr>
  </thead>
  <tbody>
    <% roleList.forEach((item) => { %>
    <tr>
      <td><%= item.name %></td>
      <td>
        <a href="/admin/roles/edit/<%= item.id %>" class="btn btn-warning"
          >Sửa</a
        >
      </td>
      <td>
        <form
          action="/admin/roles/delete/<%= item.id %>"
          onsubmit="return confirm('Bạn có chắc chắn muốn xóa role ?')"
          method="post"
        >
          <button class="btn btn-danger">Xóa</button>
        </form>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
