<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .text-info-teacher {
        font-size: 1.2rem;
      }
      table,
      th,
      td {
        border: 1px solid #fff;
        width: 300px;
        height: 30px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <p class="text-info-teacher">
      <strong style="text-decoration: underline">Tên học viên:</strong> <%=
      studentLists.name %>
    </p>
    <p class="text-info-teacher">
      <strong style="text-decoration: underline">Email:</strong> <%=
      studentLists.email %>
    </p>
    <p class="text-info-teacher">
      <strong style="text-decoration: underline">Số điện thoại:</strong> <%=
      studentLists.phone %>
    </p>
    <p class="text-info-teacher">
      <strong style="text-decoration: underline">Địa chỉ:</strong> <%=
      studentLists.address %>
    </p>
    <strong style="text-decoration: underline; font-size: 1.2rem"
      >Danh sách lớp học và khóa học đang tham gia</strong
    >
    <table style="margin: 12px 0px">
      <thead>
        <tr>
          <th>Tên lớp</th>
          <th>Tên khóa học</th>
          <th>Điểm danh</th>
        </tr>
      </thead>
      <tbody>
        <% studentClass.forEach((item) => { %>
        <tr>
          <td><%= item.class.name %></td>
          <td><%= item.class.course.name %></td>
          <td>
            <a href="/admin/student/attendance/class/<%= item.class.id %>"
              >Điểm danh</a
            >
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
