<h3>Tên khóa học: <%= CourseList.name %></h3>
<ul>
  <li>Học phí: <%= CourseList.price %></li>
  <li>Giảng viên: <%= CourseList.User.name %></li>
  <li>Học thử: <%= CourseList.tryLearn %> buổi</li>
  <li>Số lượng học viên: <%= CourseList.quantity %></li>
</ul>
<h4>Tài liệu khóa học</h4>
<div class="container" style="margin-right: 500px">
  <div class="row">
    <div class="col-md-6">
      <div
        class="panel-group"
        id="accordion"
        role="tablist"
        aria-multiselectable="true"
      >
        <% Modules.forEach((item) => { %>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a
                role="button"
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                <%= item.name %>
              </a>
            </h4>
          </div>
          <div
            id="collapseOne"
            class="panel-collapse collapse in"
            role="tabpanel"
            aria-labelledby="headingOne"
          >
            <% item.module_documents.forEach((itemList) => { %>
            <div class="panel-body">
              <a href="<%= itemList.pathName %>"><%= itemList.pathName %></a>
              <a
                href="/admin/deleteDocument/<%= itemList.id %>"
                class="btn btn-danger"
                >Delete</a
              >
            </div>
            <% }) %>
          </div>
        </div>
        <a
          href="/admin/addMoreDocument/<%= item.id %>"
          style="margin-left: 430px; text-decoration: underline"
          >Thêm link tài liệu</a
        >
        <div style="display: flex; margin-bottom: 6px">
          <a
            href="/admin/deleteALlDocument/<%= item.id %>"
            class="btn btn-danger"
            >Delete</a
          >
          <a
            href="/admin/editModuleDocument/<%= item.id %>"
            class="btn btn-warning"
            style="margin-left: 8px"
            >Edit</a
          >
        </div>

        <% }) %>
      </div>
    </div>
  </div>
</div>

<div class="mt-3" style="margin-left: 7px">
  <a href="/admin/addDocument/<%= CourseList.id %>" class="btn btn-success"
    >Thêm tài liệu</a
  >
</div>

<style>
  /* body {
    background: #ccc;
  }
  .container {
    margin-left: 0;
    margin-right: 0;
  }
  .accordion {
    margin: 40px 0;
  }
  .accordion .item {
    border: none;
    margin-bottom: 50px;
    background: none;
  }
  .t-p {
    color: #000;
    padding: 40px 30px 0px 30px;
  }
  .accordion .item .item-header h2 button.btn.btn-link {
    background: #ccc;
    color: #000;
    border-radius: 0px;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 2.5;
    text-decoration: none;
  }
  .accordion .item .item-header {
    border-bottom: none;
    background: transparent;
    padding: 0px;
    margin: 2px;
  }

  .accordion .item .item-header h2 button {
    color: white;
    font-size: 20px;
    padding: 15px;
    display: block;
    width: 100%;
    text-align: left;
  }

  .accordion .item .item-header h2 i {
    float: right;
    font-size: 30px;
    color: #eca300;
    background-color: black;
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }

  button.btn.btn-link.collapsed i {
    transform: rotate(0deg);
  }

  button.btn.btn-link i {
    transform: rotate(180deg);
    transition: 0.5s;
  } */

  a:hover,
  a:focus {
    text-decoration: none;
    outline: none;
  }
  #accordion .panel {
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: -5px;
  }
  #accordion .panel-heading {
    padding: 0;
    border: none;
    border-radius: 0;
  }
  #accordion .panel-title a {
    display: block;
    padding: 15px 70px 15px 20px;
    background: #fff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #e6720d;
    border-bottom: 1px solid #1d2e3b;
    position: relative;
  }
  #accordion .panel-title a.collapsed {
    color: #1d2e3b;
  }
  #accordion .panel-title a.collapsed:hover {
    color: #e6720d;
  }
  #accordion .panel-title a:before,
  #accordion .panel-title a:after {
    content: "";
    width: 3px;
    height: 10px;
    background: #e6720d;
    font-size: 15px;
    position: absolute;
    top: 20px;
    right: 35px;
    transform: rotate(-45deg);
    transition: all 0.3s ease-in-out 0s;
  }
  #accordion .panel-title a:after {
    right: 29px;
    transform: rotate(45deg);
  }
  #accordion .panel-title a.collapsed:before {
    transform: rotate(45deg);
    background: #1d2e3b;
  }
  #accordion .panel-title a.collapsed:after {
    transform: rotate(-45deg);
    background: #1d2e3b;
  }
  #accordion .panel-title a.collapsed:hover:before,
  #accordion .panel-title a.collapsed:hover:after {
    background: #e6720d;
  }
  #accordion .panel-body {
    padding: 10px 20px;
    background: #1d2e3b;
    border-top: none;
    font-size: 15px;
    color: #fff;
    line-height: 25px;
  }
</style>
<!--ok-->
