<h1>Danh sach class</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th width="5%">STT</th>
      <th>Tên</th>
      <th>Sĩ số</th>
      <th>Ngày khai giảng</th>
      <th>Ngày kết thúc</th>
    </tr>
  </thead>
  <tbody>
    <% classTeacherList.forEach((item, index) => { %>
    <tr>
      <td><%= index + 1 %></td>
      <td>
        <a href="/teacher/classDetail/<%= item.id %>"><%= item.name %></a>
      </td>
      <td><%= item.quantity %></td>
      <td><%= moment(item.startDate).format('MM/DD/YYYY') %></td>
      <td><%= moment(item.endDate).format('MM/DD/YYYY') %></td>
    </tr>
    <% }) %>
  </tbody>
</table>
