<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .text-info-teacher {
        font-size: 1.2rem;
      }
      table,
      th,
      td {
        border: 1px solid #ccc;
        width: 300px;
        height: 30px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <p class="text-info-teacher">
      <strong style="text-decoration: underline">Tên học viên:</strong> <%=
      studentLists.User.name %>
    </p>
    <p class="text-info-teacher">
      <strong style="text-decoration: underline">Email:</strong> <%=
      studentLists.User.email %>
    </p>
    <p class="text-info-teacher">
      <strong style="text-decoration: underline">Số điện thoại:</strong> <%=
      studentLists.User.phone %>
    </p>
    <p class="text-info-teacher">
      <strong style="text-decoration: underline">Địa chỉ:</strong> <%=
      studentLists.User.address %>
    </p>
    <form action="" method="post">
      <label for="learning_status">Trạng thái học:</label>
      <select name="learning_status" class="form-select">
        <option value="<%= %>">Chọn trạng thái</option>
        <% statusList.forEach(({id, name}) => { %>
        <option value="<%= id %>"><%= name %></option>
        <% }) %>
      </select>
      <button class="btn btn-success" type="submit">Lưu trạng thái</button>
    </form>
  </body>
</html>
