<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .text-info-course {
        font-size: 1.2rem;
      }
      strong {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <p class="text-info-class">
      <strong>Tên lớp học:</strong> <%= classList.name %>
    </p>
    <p class="text-info-class">
      <strong>Sĩ số:</strong> <%= classList.quantity %>
    </p>
    <p class="text-info-class">
      <strong>Ngày khai giảng:</strong> <%=
      moment(classList.startDate).format('MM/DD/YYYY') %>
    </p>
    <p class="text-info-class">
      <strong>Ngày bế giảng:</strong> <%=
      moment(classList.endDate).format('MM/DD/YYYY') %>
    </p>
    <p class="text-info-class">
      <strong>Khóa học:</strong> <%= classList.course.name %>
    </p>
    <p class="text-info-class">
      <strong>Giảng viên:</strong> <%= courseList.User.name %>
    </p>
    <% scheduleList.forEach((scheduleItem) => { %>
    <p class="text-info-class">
      <strong>Lịch học:</strong> Thứ <%= scheduleItem.schedule %>
    </p>
    <p class="text-info-class">
      <strong>Thời gian học:</strong> <%= scheduleItem.timeLearn %>
    </p>
    <% }) %>
    <a href="/admin/class/excersise/<%= classList.id %>">Câu hỏi và bài tập</a>
  </body>
</html>
