<h4>Danh sách học viên lớp <%= className.name %></h4>
<table class="table table-bordered">
  <thead>
    <tr>
      <th width="5%">STT</th>
      <th>Tên</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Status</th>
      <th>Sửa status</th>
      <th>Xóa</th>
    </tr>
  </thead>
  <tbody>
    <% listStudent.forEach((item, index) => { %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= item.User.name %></td>
      <td><%= item.User.email %></td>
      <td><%= item.User.phone %></td>
      <td><%= item.User.address %></td>
      <td><%= item.learning_status.name %></td>
      <td>
        <a
          href="/admin/student/updateStatus/<%= item.id %>"
          class="btn btn-warning"
          >Sửa status</a
        >
      </td>
      <td>
        <form
          action="/admin/class/deleteStudent/<%= item.id %>"
          onsubmit="return confirm('Bạn có chắc chắn muốn xóa học viên ?')"
          method="post"
        >
          <button class="btn btn-sm">
            <i class="fas fa-trash-alt" style="font-size: 1.2rem"></i>
          </button>
        </form>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
